altgraph==0.17.3
asttokens
backcall
backports.functools-lru-cache
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2022.12.7
cffi==1.15.1
click==7.1.2
colorama
debugpy
decorator
Eel==0.16.0
executing
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy==1.24.2
packaging
pandas==1.5.3
parso
pefile==2023.2.7
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
pycparser==2.21
Pygments
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyqt5-tools==5.15.4.3.2
PySide2==5.15.2.1
python-dateutil
python-dotenv==1.0.0
pytz==2022.7.1
pywin32==227
pywin32-ctypes==0.2.0
pyzmq
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
shiboken2==5.15.2.1
six
stack-data
tornado
traitlets
typing_extensions
wcwidth
whichcraft==0.6.1
wincertstore==0.2
zipp
zope.event==4.6
zope.interface==6.0
